PORT=5000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Genesis007@
DB_NAME=dental_clinic
JWT_SECRET=sJPOHIRAAfwbLHxwEtqdgYtE3al1QN4M6X3dQnfHYlU
JWT_REFRESH_SECRET=7FNIpj8DmMKLkaR74e94ACJM8MDE6EuIYnvaliY96PS
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
